#org_chart {
    background-color: #fff;
}

#svg-container {
  padding: 30px 30px 30px 60px;
  height: 750px;
}

#svg-container svg {
	padding-left: 30px;
}

#svg-container .link-hover {
	stroke:black;
	stroke-width:2px;
}

#tree_details {
  padding-top: 50px;
  list-style: none;
  padding-left: 0;
}

#tree_details ul {
  padding-top: 20px;
  list-style: none;
  padding-left: 0;
}

#tree_details .line-item{
    cursor: pointer;
}

.budg-item {
  padding-left: 40px;
  font-size: 18px;
}

#sib-title {
  font-size: 18px;
  margin-top: 40px;
}

#sibling-list {
   list-style-type: decimal;
}

#sibling-list li {
    cursor: pointer;
}
.line-item {
  font-size: 24px;
  font-weight: bold;
}
