{% extends "layout.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block styles %}
    <style>#menu-slider{display: none;}</style>
{% endblock %}

{% block content %}
      
        <!--p>Org Chart Area</p-->
        <div id="article-container">
            <article class="col-xs-12 col-ms-10 col-ms-offset-2 col-sm-8 col-md-4">
                <!--div class="card card-plain card-blog">
                    <div class="card-image">
                        <a href="/2018_city_budget" title="Richmond City's 2018 Budget">
                            <img width="240" height="240" src="/static/images/2018_budget.png"  alt="Richmond City's 2018 Budget">
                        </a>
                    </div>
                    <div class="content">
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="http://connorriley.me/wikipedia_map/" title="The Wikipedia Map of…" rel="bookmark">
								Richmond City's 2018 Budget
                            </a>
						</h4>
						<p class="card-description">An interactive exploration of Richmond City's 2018 budget. Click through the sections of the pie to dive deeper. Enjoy!</p>
					</div>
				</div-->
                <div class="mdc-card mdc-card mdc-elevation--z8">
                    <div class="mdc-card__media mdc-card__media--square" style="background-image: url('/static/images/2018_budget.png');">
                        <!--div class="mdc-card__media-content">Title</div-->
                    </div>
                    <!-- ... content ... -->
                    <div class="content">
						<h4 class="mdc-typography--headline3">
							<a class="blog-item-title-link" href="/2018_city_budget" title="Richmond's 2018 City Budget " rel="bookmark">
								Richmond City's 2018 Budget
                            </a>
						</h4>
						<p class="mdc-typography--headline5">An interactive exploration of Richmond City's 2018 budget. Click through the sections of the pie to dive deeper. Enjoy!</p>
					</div>
                    <!--div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                          <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
                          <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
                        </div>
                        <!--div class="mdc-card__action-icons">
                          <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
                          <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
                        </div>
                    </div-->
                </div>
            </article>
            
             <article class="col-xs-12 col-ms-10 col-ms-offset-2 col-sm-8 col-md-4">
                <!--div class="card card-plain card-blog">
												<div class="card-image">
								<a href="http://connorriley.me/wikipedia_map/" title="The Wikipedia Map of…">
									<img width="240" height="240" src="http://connorriley.me/wp-content/uploads/2016/01/wikimap.png" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="Map of Wikipedia Articles" srcset="http://connorriley.me/wp-content/uploads/2016/01/wikimap.png 600w, http://connorriley.me/wp-content/uploads/2016/01/wikimap-150x150.png 150w, http://connorriley.me/wp-content/uploads/2016/01/wikimap-300x300.png 300w" sizes="(max-width: 240px) 100vw, 240px">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="http://connorriley.me/category/google-apis/" title="View all posts in Google APIs" rel="tag">Google APIs</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="http://connorriley.me/wikipedia_map/" title="The Wikipedia Map of…" rel="bookmark">
								The Wikipedia Map of…							</a>
						</h4>
						<p class="card-description">Explore the city of your choice in a whole new way with mapped Wikipedia articles.</p>
					</div>
				</div-->
                 <div class="mdc-card mdc-elevation--z8">
                    <div class="mdc-card__media mdc-card__media--square" style="background-image: url('/static/images/rva_wiki_map.png');">
                        <!--div class="mdc-card__media-content">Title</div-->
                    </div>
                    <!-- ... content ... -->
                    <div class="content">
						<h4 class="mdc-typography--headline3">
							<a class="blog-item-title-link" href="/wikimap" title="Wikipedia Map of RVA " rel="bookmark">
								The Wikipedia Map of Richmond
                            </a>
						</h4>
						<p class="mdc-typography--headline5">Explore Richmond in a whole new way - learn interesting facts and the history of various locations around town thanks to geo-tagged Wikipedia articles.</p>
					</div>
                    <!--div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                          <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
                          <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
                        </div>
                        <!--div class="mdc-card__action-icons">
                          <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
                          <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
                        </div>
                    </div-->
                </div>
            </article>
            
             <article class="col-xs-12 col-ms-10 col-ms-offset-2 col-sm-8 col-md-4">
                
            </article>
        </div>
      
      
{% endblock %}

{% block scripts %}

{% endblock %}