{% extends "layout.html" %}

{% block title %}Wikipedia Map | {{ super() }}{% endblock %}

{% block styles %}
  <link href="/static/css/wikimap.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
      <div id="wikimap" class="row">
<h2 style="padding: 0 5%; color: #6e9489;">The Wikipedia Map of Richmond</h2>
<h3 style="padding: 0 5%;">Tell me about RVA…</h3>
<p style="padding: 0 5%;font-size: .8em;line-height: 1.4em;">Many Wikipedia articles are tagged with geo coordinates. The teal circles below represent Richmond's Wikipedia articles. The larger the circle, the higher the popularity/ relevance (as determined by article length and number of links to the article). Hover over a circle for the name of the article, click on it for a preview. Want to know even more? Clicking the preview pop-up will take you to the full Wikipedia article.  This is a great tool for both an orientation of Richmond as well as learning interesting facts and history about our amazing town.</p>


    <div id="map"></div>
<p class="credits" style="padding: 0 5%;">Map tiles by <a href="http://stamen.com" target="_blank">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC BY 3.0</a>. Wikipedia feed by <a href="http://www.geonames.org/" target="_blank">GeoNames</a>. Developed by <a href="http://connorriley.me" target="_blank">Connor Riley</a></p>
{% endblock %}

{% block scripts %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKAzR0ElcSvtF6nz8Kvy-Z6M0flE47wck"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
  <script src="/static/js/wikimap.js"></script>
{% endblock %}

